# 忽略依赖包 (这个最重要，绝对不能传)
node_modules/

# 忽略打包输出目录
dist/
build/

# UniApp 特有的打包目录 (如果不忽略，每次编译都会产生大量变动)
unpackage/

# 忽略系统生成的文件
.DS_Store
Thumbs.db

# 忽略编辑器配置
.idea/
.vscode/
*.suo
*.ntvs
*.njsproj
*.sln
*.local

# 忽略日志
npm-debug.log*
yarn-debug.log*
yarn-error.log*